@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #84BBEF;
    --color2: #4DE4FF;
    --color3: #142063;
    --color4: #030815;
    --color5: #000000;
    
    --font-destaque: "Anton SC", sans-serif;
    --font-padrao: "Noto Sans", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    margin: auto;
    max-width: 1280px;
}

header{
    font-family: var(--font-destaque);
    color: #ececec;
    background-color: var(--color3);
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.274);
}

.container > h1{
    font-size: 3em;
    font-weight: 200;
    margin-left: 20px;
}

header li{
    display: inline;
}

header li > a{
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2em;
    margin-right: 20px;
    transition: 0.1s;
}

header li > a:hover{
    background-color: #fff;
    color: var(--color3);
    padding: 8px;
    border-radius: 10px;
}

body{
    background-color: var(--color1);
    text-align: justify;
    font-family: var(--font-padrao);
}

main{
    background-color: #fff;
    max-width: 1100px;
    margin: auto;
    padding: 0px 0px 30px 0px;
}

#sobreojogo{
    background-image: url(imagens/undertale\ 4.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jogo .container{
    display: flex;
}

#jogo .container div{
    width: 50%;
    margin-right: 100px;
}

#jogo .container #paragrafo{
    align-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    padding: 8px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 0px 20px 20px 0px;
    line-height: 2em;
    height: 465px;
    width: 400px;
    font-size: 1.1em;
}

section h2, section h3{
    font-family: var(--font-destaque);
    font-weight: 200;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

section h2{
    font-size: 1.7em;
}

#sobreojogo{
    margin-bottom: 150px;
}

#curiosidades{
    background-color: white;
    margin-bottom: 45px;
}

#curiosidades .container{
    display: flex;
}

#curio #imagem{
    text-align: center;
}

#curio #audio{
    text-align: center;
}

#curio #audio audio{
    border-radius: 0px;
}

#curiosidades h2{
    color: #000;
    text-align: center;
}

#curio h2{
    font-size: 2em;
}

#curio p{
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    margin: 0px 20px;
}

#contato .container{
    display: flex;
    justify-content: space-between;
}

#contato .container h2,
#contato .container h3{
    color: black;
}

#contato .container #direita{
    margin-right: 20px;
}

#contato .container #direita a{
    display: inline;
}

#contato .container li{
    list-style-type: none;
}

#contato .container li input{
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    font-family: var(--font-padrao);
}

#contato .container li textarea{
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    resize: none;
    height: 200px;
    font-family: var(--font-padrao);
}

#contato .container li button{
    margin-left: 10px;
    width: 223px;
    padding: 10px;
    margin-bottom: 5px;
    font-family: var(--font-padrao);
}

#contato .container li button:hover{
    cursor: pointer;
    background-color: var(--color3);
    color: white;
    border: 0px;
    font-family: var(--font-padrao);
}

body #center{
    font-size: 2em;
    margin-left: 10px;
    margin-bottom: 30px;
}

footer{
    margin: auto;
    text-align: center;
    background-color: var(--color3);
    color: #fff;
    padding: 5px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer div{
    max-width: 1200px;
}